global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend fe_web
    bind *:80

    acl is_api     path_beg /api
    acl is_statics path_beg /statics

    use_backend be_echo  if is_api
    use_backend be_nginx if is_statics

backend be_echo
    balance roundrobin
{% for i in range(1, echo_replicas + 1) %}
    server echo{{ i }} echo-{{ i }}:8080 check
{% endfor %}

backend be_nginx
    balance uri
    hash-type consistent
{% for i in range(1, nginx_replicas + 1) %}
    server nginx{{ i }} nginx-{{ i }}:80 check
{% endfor %}



